<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Resources/style.css">
    <title>Conócenos</title>
</head>
<body id="conocenos">

  <nav class="navbar">

    <a href="../../index.html" class="logo">
      <img src="../img/logoempresa.png" alt="MageSharp">
    </a>

    <button class="menu-toggle" id="menu-toggle" arial-label="abrir menu" airad-expanded="false">
    ☰
    </button>

    <ul class="nav-links" id="navLinks">
      <li><a href="../../index.html">Inicio</a></li>
      <li><a href="demos.html">Demos</a></li>
      <li><a href="proyectos.html">Proyectos</a></li>
      <li><a href="conocenos.html" class="active">Conocenos</a></li>
      <li><a href="contacto.html">Contacto</a></li>
    </ul>

  </nav>

  <div class="contenedor-perfil">

    <div class="contenedor-foto">
    </div>
    <div class="contenedor-datos">
    </div>

  </div>

  <div class="contenedor-proyecto1">

  </div>

  <div class="contenedor-proyecto2">

  </div>
  
  <div class="contenedor-proyecto3">

  </div>
    
</body>
</html>
