<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Resources/style.css">
    <title>Portafolio</title>
</head>
<body>
  <nav class="navbar">
    <a href="../../index.html" class="logo">
      <img src="../img/logoempresablanco.png" alt="MageSharp">
    </a>
    <button class="menu-toggle" id="menu-toggle" aria-label="abrir menu" aria-expanded="false">
    ☰
    </button>
    <ul class="nav-links" id="navLinks">
      <li><a href="../../index.html">Inicio</a></li>
      <li><a href="demos.html">Plantillas</a></li>
      <li><a href="proyectos.html" class="active">Portafolio</a></li>
      <li><a href="conocenos.html">Conócenos</a></li>
      <li><a href="contacto.html">Contacto</a></li>
    </ul>
  </nav>

  <header class="page-header">
    <h1>Nuestro Portafolio</h1>
    <p>Conoce los proyectos personalizados que hemos creado para nuestros clientes.</p>
  </header>

  <main class="grid-container">
    
    <!-- Proyecto 1 -->
    <article class="portfolio-card">
      <img src="" alt="Proyecto Clínica">
      <div class="portfolio-content">
        <h3></h3>
        <div class="portfolio-tags">
          <span>React</span>
          <span>Node.js</span>
          <span>Web Design</span>
        </div>
        <p><strong>El Reto:</strong> Necesitaban un sistema para agendar citas en línea y un portal para pacientes.<br><br>
        <strong>La Solución:</strong> Creamos una plataforma segura y fácil de usar que redujo el tiempo de llamadas a la mitad.</p>
        <a href="#" class="btn-visit">Ver Proyecto</a>
      </div>
    </article>

    <!-- Proyecto 2 -->
    <article class="portfolio-card">
      <img src="" alt="Proyecto Gimnasio">
      <div class="portfolio-content">
        <h3>Gym Power Fit</h3>
        <div class="portfolio-tags">
          <span>HTML/CSS</span>
          <span>JavaScript</span>
          <span>SEO</span>
        </div>
        <p><strong>El Reto:</strong> Captar nuevos socios y mostrar los horarios de clases de forma dinámica.<br><br>
        <strong>La Solución:</strong> Diseñamos un sitio web muy visual, con videos de fondo y tablas de horarios interactivos.</p>
        <a href="#" class="btn-visit">Ver Proyecto</a>
      </div>
    </article>

  </main>

  <script src="..//Resources/JavaScript.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
  <a class="wa-float"
  href="https://wa.me/525637844601?text=Hola%20MageSharp%2C%20quiero%20cotizar%20un%20proyecto"
  target="_blank" rel="noopener" aria-label="Escríbenos por WhatsApp">
    <i class="fa-brands fa-whatsapp"></i>
  </a>
</body>
</html>

