<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Resources/style.css">
    <title>Proyectos</title>
</head>
<body>
  <nav class="navbar">
    <a href="Views/index.html" class="logo">
      <img src="../img/Logo Magesharp.png" alt="MageSharp">
    </a>
    <button class="menu-toggle" id="menu-toggle" arial-label="abrir menu" airad-expanded="false">
    ☰
    </button>
    <ul class="nav-links" id="navLinks">
      <li><a href="index.html">Inicio</a></li>
      <li><a href="demos.html">Demos</a></li>
      <li><a href="proyectos.html" class="active">Proyectos</a></li>
      <li><a href="conocenos.html">Conocenos</a></li>
      <li><a href="contacto.html">Contacto</a></li>
    </ul>
  </nav>
    
</body>
</html>